.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '...';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('...');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'Open Sans';
    text-align: center;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informations p {
    margin: .5rem;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.informations p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.informations .jod::before{
    content: "👤";
    width: 1.50rem;
    background-image: url('');
}

.informations .location::before{
    content: "📍";
    width: 1.50rem;
    background-image: url('');
}

.informations .email::before{ 
    content: "📧";
    width: 1.50rem;
    background-image: url();
}

.informations .phone::before{
    content: "📞";
    width: 1.50rem;
    background-image: url('');
}

/* EX:

.informations .job {
    background-image: url('');
}

.informations .location {
    background-image: url('');
}

.informations .email {
    background-image: url('');
}

.informations .phone {
    background-image: url('');
} */

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
            'photo title'
            'photo informations'
        ;
    } 

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .informations {
        grid-area: informations;
    }

}
